.aidanews2 {
	margin-left: 15px;
}

.aidanews2_top{
	color: #93246F;
    font-size: 10px;
    font-weight: normal;
	margin: 3px 0;
}

.aidanews2_bot{
	margin: 5px 0;
}

.aidanews2_head {
	padding: 0 3px;
}

.aidanews2_title a:hover {
	color: #fff !important;
	background-color: #93246F;
}

.aidanews2 .readon {
	margin-top: 0;
	text-decoration: none;
	padding: 2px 5px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: trebuchet MS,sans-serif;
	background-color: #ccc;
	color: #93246F;
}

.aidanews2 .readon:hover {
	background-color: #93246F;
	text-decoration: none;
	color: #fff;
}

.aidanews2_positions {
	padding: 0 5px;
}

.aidanews2 .even {
	background-color: #EFDEEA;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.aidanews2_line {
	width: 100%;
	border-bottom: 1px solid #ccc;
	height: 6px;
}

.aidanews2_topL, .aidanews2_botL {
	float: left;
	width: 50;
	text-align: left;
}

.aidanews2_topL {
	font-size: 10px;
}

.aidanews2_topR, .aidanews2_botR {
	float: right;
	width: 50;
	text-align: right;
}

.aidanews2_mainL {
	width: auto;
	float: left;

}

.aidanews2_mainC {
	width: auto;
	overflow: auto;
}

.aidanews2_mainR {
	width: auto;
	float: right;
}

.aidanews2_title {
	margin: 0;
	display: inline;
	font-size: 15px;
	color: #93246F;
	padding: 5px 0;
}

.aidanews2_title a{
	font-family: trebuchet MS,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
	color: #93246F !important;
	text-decoration: none;
}

.aidanews2_date {
	font-size: 80%;
}

.aidanews2 img {
	padding: 2px;
	border: solid 1px #ccc;
	margin-right: 5px;
	float: left;
}

.aidawarning {
	font-weight: bold;
	color: red;
	font-size: 10px;
}

/* Tables */

.aidanews2_table {
	width: 100%;
	text-align: left;
}

.aidanews2_table .aidanews2_tabrow {
	clear: both;
	width: 100%;
	margin: 0;
}

.aidanews2_table .aidanews2_tabrow .aidanews2_art {
	float: left;
	display: inline;
	border-right: 1px solid #ccc;
}

.firstinrow {
	border-left: 1px solid #ccc;
}

.infirstrow {
	border-top: 1px solid #ccc;
}

/* Bottom Link */

.aidanews2_bottomlink {
	padding: 5px 8px 3px;
}

.aidanews2_bottomlink a:link {
	font-weight: bold;
}

.aidanews2_table .aidanews2_bottomlink {
	clear: both;
}

/* Rating, Hits, Comments Images */

.aidanews2_rating {
	background: url("../img/default/rating.png") no-repeat scroll 0 2px transparent;
    padding: 3px 3px 3px 20px;
}

.aidanews2_hits {
	background: url("../img/default/hits.png") no-repeat scroll 0 2px transparent;
    padding: 3px 3px 3px 20px;
}

.aidanews2_comments {
	background: url("../img/default/comments.png") no-repeat scroll 0 2px transparent;
    padding: 3px 3px 3px 20px;
}

/* New in v 2.0.7 */

.aidanews2_stars_rating {
	display: inline;
	width: 80px;
	height: 16px;
}

.aidanews2_stars_rating img {
	padding: 0;
	border: 0;
	margin: 0;
}