.aidanews2_topL, .aidanews2_botL {
	float: left;
	width: 50;
	text-align: left;
}

.aidanews2_topL {
	font-size: 10px;
}

.aidanews2_topR, .aidanews2_botR {
	float: right;
	width: 50;
	text-align: right;
}

.aidanews2_top {
	font-size: 10px;
	width: 100%;
	background-color: #ECECEC;
	padding: 5px;
	border-top: 1px solid #DDD;
	margin-bottom: 12px;
}

.aidanews2_topR {
	margin-right: 3px;
}

.aidanews2_mainL {
	width: auto;
	float: left;
}

.aidanews2_mainC {
	width: auto;
	overflow: auto;
}

.aidanews2_mainR {
	width: auto;
	float: right;
}

.aidanews2_title {
	padding: 5px 0 8px;
	margin: 0;
	font-size: 15px;
}

.aidanews2_title a {
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
}

.aidanews2_date {
	font-size: 80%;
}

.aidanews2 img {
	padding: 2px;
	border: solid 1px #ccc;
	margin: 0 5px 0 3px;
	float: left;
}

.aidanews2 .readon {
	margin-top: 0;
}

.aidanews2_line {
	width: 100%;
	border-bottom: 1px solid #c0c0c0;
	height: 5px;
}

.aidawarning {
	font-weight: bold;
	color: red;
	font-size: 10px;
}

.aidanews2_author {
	background: url("../img/purity/icon-user.gif") no-repeat scroll 0 2px transparent;
    padding: 5px 3px 5px 20px;
}

.aidanews2_date {
	background: url("../img/purity/icon-date.gif") no-repeat scroll 0 2px transparent;
    padding: 5px 3px 5px 20px;
}

/* Tables */

.aidanews2_table {
	width: 100%;
	text-align: left;
}

.aidanews2_table .aidanews2_tabrow {
	clear: both;
	width: 100%;
	margin: 0;
}

.aidanews2_table .aidanews2_tabrow .aidanews2_art {
	float: left;
	display: inline;
}

/* Bottom Link */

.aidanews2_bottomlink {
	padding: 5px 8px 3px;
}

.aidanews2_bottomlink a:link {
	font-weight: bold;
}

.aidanews2_table .aidanews2_bottomlink {
	clear: both;
}

/* Rating, Hits, Comments Images */

.aidanews2_rating {
	background: url("../img/default/rating.png") no-repeat scroll 0 2px transparent;
    padding: 3px 3px 3px 20px;
}

.aidanews2_hits {
	background: url("../img/default/hits.png") no-repeat scroll 0 2px transparent;
    padding: 3px 3px 3px 20px;
}

.aidanews2_comments {
	background: url("../img/default/comments.png") no-repeat scroll 0 2px transparent;
    padding: 3px 3px 3px 20px;
}

/* New in v 2.0.7 */

.aidanews2_stars_rating {
	display: inline;
	width: 80px;
	height: 16px;
}

.aidanews2_stars_rating img {
	padding: 0;
	border: 0;
	margin: 0;
}